* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 20%, 1);
}

body {
    background-color: #395539;
}

nav {
    width: 100%;
    height: 3rem;
    background-color: hsla(0, 100%, 100%, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLogo img{
    height: 100%;
    padding: 0 2rem;
}

#navListItems ul{
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
}

#navListItems ul a {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

#navListItems ul a:hover {
    background-color: #395539;
}

#navListItems ul a li {
    font-size: 1.25rem;
    font-weight: 700;
}



